*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# Rider
.idea
src/.sonarqube
src/Simpatia/.sonarqube
src/Simpatia.UnitTests/.sonarqube
src/Simpatia.UnitTests/coverage.opencover.xml
src/Simpatia.Homologacao/.sonarqube
src/Simpatia/appsettings.json
src/Simpatia/Properties/launchSettings.json
src/Simpatia.CodeCoverageReports

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*appsettings.json

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2016
.vs/

# ignore appsettings configuration files
appsettings*.json
